rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /assignments/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /acomodadores/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
